body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0f7fa;
}
.image-gallery {
  display: flex;
  justify-content: space-around;
}

.left-side, .right-side {
  display: flex;
  flex-direction: column;
}

.left-side img, .right-side img {
  width: 312px;
  height: 400px;
  margin: 5px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content { 
  
  background-color: rgb(252, 253, 249);
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

header {
  background-color: #26c6da;

  color: white;

  text-align: center;

  padding: 10px 0;
}
.logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
}
button {
  font-family: Arial, sans-serif;

  font-size: 16px;

  border: none;

  padding: 10px 20px;

  border-radius: 5px;

  cursor: pointer;

  transition: background-image 0.3s, transform 0.3s;
  margin: 5px;
  color: white; /* Білий текст для всіх кнопок */
  background-image: linear-gradient(
    to right,
    #013b6f,
    #035a8d
  ); /* Початковий градієнт */
}

button:hover {
  background-image: linear-gradient(
    to right,
    #035a8d,
    #5eb1e1
  ); /* Градієнт при наведенні */

  transform: scale(1.05); /* Збільшуємо кнопку */
}

.kontacts {
  background-color: #4caf50; /* Зелений фон */

  color: white; /* Білий текст */
}

.Pogoda {
  background-color: #2196f3; /* Синій фон */
  color: white; /* Білий текст */
}

.language {
  background-color: #f44336; /* Червоний фон */
  color: white; /* Білий текст */
}
.Dream_Background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-content {
  padding: 20px;

  text-align: center;
}

footer {
  background-color: #26c6da;
  color: white;

  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}
@media (max-width: 600px) {
  h1 {
    font-size: 18px; /* Ще менший розмір шрифту для дуже малих екранів */
  }
  .left-side img, .right-side img {
    width: 200px;
    height: 250px;
    margin: 5px;
    cursor: pointer;
  }
  
 
    .logo {
        
       
    width: 50px; /* Зменшуємо розмір логотипу */
        height: 50px;
        top: 2px;
        left: 2px;
      }
    
      
     
    header {
        padding: 5px 0; /* Зменшуємо відступ у шапці */
      }
    
      
      
    
     
    
     
    button {
        padding: 5px 10px; /* Зменшуємо відступи для кнопок */
        
       
    font-size: 14px; /* Зменшуємо розмір шрифту для кнопок */
      }
    }
    @media (max-width: 410px) {
      h1 {
        font-size: 8px; /* Ще менший розмір шрифту для дуже малих екранів */
      }
      .left-side img, .right-side img {
        width: 150px;
        height: 250px;
        margin: 5px;
        cursor: pointer;
      }
        
      .logo {
          width: 30px; /* Ще більше зменшуємо розмір логотипу */
          height: 30px;
          
         
      top: 1px;
          left: 1px;
        }
      
        
       
      header {
          padding: 3px 0; /* Зменшуємо відступ у шапці */
        }
      
        
        
      
       
      button {
          padding: 3px 5px; /* Ще більше зменшуємо відступи для кнопок */
          
         
      font-size: 12px; /* Ще більше зменшуємо розмір шрифту для кнопок */
        }
      
        
        }
        /* Для екранів шириною до 1200px */
@media (max-width: 1200px) {
  h1 {
    font-size: 18px; /* Ще менший розмір шрифту для дуже малих екранів */
  }
  .logo {
    width: 80px;
    height: 80px;
  }

  header {
    padding: 8px 0;
  }

  button {
    padding: 8px 15px;
    font-size: 15px;
  }
}

/* Для екранів шириною до 960px */
@media (max-width: 960px) {
  h1 {
    font-size: 18px; /* Ще менший розмір шрифту для дуже малих екранів */
  }
  .logo {
    width: 70px;
    height: 70px;
  }

  header {
    padding: 6px 0;
  }

  button {
    padding: 7px 12px;
    font-size: 14px;
  }
}
/* Для екранів шириною від 900 до 566 пікселів */
@media (max-width: 900px) and (min-width: 566px) {
  h1 {
    font-size: 16px; /* Ще менший розмір шрифту для дуже малих екранів */
  }
  .logo {
    width: 100px; /* Зменшення розміру логотипу */
    height: 60px;
    top: 5px;
    left: 5px;
  }

  header {
    padding: 8px 0; /* Зменшення відступів у шапці */
  }

  button {
    padding: 7px 10px; /* Зменшення відступів для кнопок */
    font-size: 13px; /* Зменшення розміру шрифту для кнопок */
  }
}

/* Для екранів шириною до 566 пікселів */
@media (max-width: 566px) {
  h1 {
    font-size: 11px; /* Ще менший розмір шрифту для дуже малих екранів */
  }
  .logo {
    width: 50px; /* Ще більше зменшення розміру логотипу */
    height: 50px;
    top: 3px;
    left: 3px;
  }

  header {
    padding: 5px 0; /* Ще більше зменшення відступів у шапці */
  }

  button {
    padding: 5px 8px; /* Ще більше зменшення відступів для кнопок */
    font-size: 12px; /* Ще більше зменшення розміру шрифту для кнопок */
  }
}